{% extends 'adminbase.html.twig' %}
{% block title %}Kategori listesi{% endblock %}
{% block content %}
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anamenü</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Üyeler</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Üyeler</h4>


                            <a href="{{ path('kullanici_new') }}">
                            <button type="button" class="btn mb-1 btn-primary">Üye Ekle</button>
                            </a>
                        <div class="table-responsive">
                            <table class="table header-border">
                                <thead>

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Type</th>
                <th>Status</th>
                <th>Göster</th>
                <th>Düzenle</th>
                <th>Sil</th>

            </tr>
        </thead>
                                <tbody>
                                {% for kullanici in kullanicis %}
                                    <tr>
                                        <td>{{ kullanici.id }}</td>
                                        <td>{{ kullanici.name }}</td>
                                        <td>{{ kullanici.email }}</td>
                                        <td>{{ kullanici.password }}</td>
                                        <td>{{ kullanici.roles[0] }}</td>
                                        <td>{{ kullanici.status }}</td>

                                        <td><a class="btn mb-1 btn-info" href="{{ path('kullanici_show', {'id': kullanici.id}) }}">Göster</a></td>
                                        <td><a class="btn mb-1 btn-primary" href="{{ path('kullanici_edit', {'id': kullanici.id}) }}">Düzelt</a>


                                        </td>
                                        <td><a href="">  {{ include('admin/kullanici/_delete_form.html.twig') }}</a></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">Kullanıcı Yok</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #/ container -->
</div>
{% endblock %}
