{% extends 'base.html.twig' %}

{% block title %}slids{% endblock %}

{% block body %}
    <h1>slids</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slid.id }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td>{{ slid.links }}</td>
            </tr>
            <tr>
                <th>Imgs</th>
                <td>{{ slid.imgs }}</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>{{ slid.header }}</td>
            </tr>
            <tr>
                <th>Paragraf</th>
                <td>{{ slid.paragraf }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ slid.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_slids_index') }}">back to list</a>

    <a href="{{ path('admin_slids_edit', {'id': slid.id}) }}">edit</a>

    {{ include('admin/slids/_delete_form.html.twig') }}
{% endblock %}
