{% extends 'adminbase.html.twig' %}
{% block title %}Ürün listesi{% endblock %}
{% block content %}
<div class="content-body">
    {{ include('admin/user/mesagges.html.twig') }}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Anamenü</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Ürünler</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ürünler</h4>


                        <a href="{{ path('admin_product_new') }}">
                            <button type="button" class="btn mb-1 btn-primary">Ürün Ekle</button>
                        </a>
                        <div class="table-responsive">
                            <table class="table header-border">
                            <thead>
                                <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Year</th>
                                <th>Amount</th>
                                <th>Pprice</th>
                                <th>Sprice</th>
                                <th>Description</th>
                                <th>Keywords</th>

                                <th>Image</th>
                                <th>Gallery </th>

                                <th>Categor_id</th>
                                <th>Status</th>
                                <th>Göster</th>
                                <th>Düzenle</th>
                                <th>Sil</th>

                            </tr>
                            </thead>
                                <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.year }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.pprice }}</td>
                                <td>{{ product.sprice }}</td>

                                <td>{{ product.description }}</td>
                                <td>{{ product.keywords }}</td>
                                <td>
                                    <a href="javascript:openWin('{{ path('admin_product_iedit', {'id': product.id}) }}','','menubar=0,scrollbar=0,resizable=0,directories=0,toolbar=no,location=no,status=no,top=100,left=200,width=1000,height=750');">
                                    {% if product.image==null  %}
                                            <img src="{{asset('uploads') }}/images/noimg.png"height="70">
                                        {% else  %}<img src="{{ asset('uploads') }}/images/{{ product.image }}" height="45">
                                        {% endif  %}
                                    </a>
                                </td>
                            <td>  <a href="javascript:openWin('{{ path('admin_image_new', {'pid': product.id}) }}','','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=no,resizable=no, width=1000, height=750');">

                                    <img src="{{ asset('admin') }}/images/addimg.png" height="32" alt=""></a>
                            </td>
                                <td>{{ product.categorId }}</td>
                                <td>{{ product.status }}</td>
                                <td><a class="btn mb-1 btn-info" href="{{ path('admin_product_show', {'id': product.id}) }}">Göster</a></td>
                                <td><a  class="btn mb-1 btn-primary"href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a> </td>
                                <td><a href="">  {{ include('admin/product/_delete_form.html.twig') }}</a></td>
                                {% else %}
                                    <tr>
                                        <td colspan="20">Ürün bulunamadı </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
